PORT=3000
NODE_ENV=development

MONGO_URI=""

JWT_SECRET=""
JWT_EXPIRES_IN=1d

# NOTE: Apenas para "npm run seed:admin" (bootstrap do primeiro utilizador admin)
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_NAME="Administrador"
